body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/img2.jpeg'); 
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #cddbeb; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
    box-sizing: border-box;
    text-align: center;
    color: #333333; 
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2111b2; 
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.input-section label {
    width: 100px;
    color: #ac3c13; 
}

.input-section select,
.input-section input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ced4da; 
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    color: #333333; 
}

.input-section button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; 
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #4f5ab0;
    transform: scale(1.2);
    transition: .3s;
}

.expenses-list {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ced4da; 
    padding: 8px;
    text-align: center;
    color: #333333; 
}

tfoot {
    font-weight: bold;
    color: #333333; 
}

.delete-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #cc0000;
    transform: scale(1.2);
    transition: .3s;
}